In [38]:
import pandas as pd
import numpy as np

In [39]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')

In [40]:
file1.shape

(4008, 11)

In [41]:
file2.shape
file3.shape

(7070, 11)

In [42]:
column_names = file1.columns

In [43]:
file1.head()

  Customer          ST  ...  Vehicle Class Total Claim Amount
0  RB50392  Washington  ...  Four-Door Car           2.704934
1  QZ44356     Arizona  ...  Four-Door Car        1131.464935
2  AI49188      Nevada  ...   Two-Door Car         566.472247
3  WW63253  California  ...            SUV         529.881344
4  GA49547  Washington  ...  Four-Door Car          17.269323

[5 rows x 11 columns]

In [44]:
file2.head()

  Customer          ST  ...     Policy Type  Vehicle Class
0  GS98873     Arizona  ...   Personal Auto  Four-Door Car
1  CW49887  California  ...    Special Auto            SUV
2  MY31220  California  ...   Personal Auto   Two-Door Car
3  UH35128      Oregon  ...   Personal Auto     Luxury Car
4  WH52799     Arizona  ...  Corporate Auto   Two-Door Car

[5 rows x 11 columns]

In [45]:
file2 = file2.rename(columns={'GENDER':'Gender', 'ST':'State'})
file1 = file1.rename(columns={'GENDER':'Gender', 'ST':'State'})

In [46]:
file3.head()

  Customer       State  ...  Total Claim Amount  Vehicle Class
0  SA25987  Washington  ...          499.200000   Two-Door Car
1  TB86706     Arizona  ...            3.468912   Two-Door Car
2  ZL73902      Nevada  ...          393.600000  Four-Door Car
3  KX23516  California  ...          699.615192            SUV
4  FN77294  California  ...          484.800000            SUV

[5 rows x 11 columns]

In [47]:
file1.head()

  Customer       State  ...  Vehicle Class Total Claim Amount
0  RB50392  Washington  ...  Four-Door Car           2.704934
1  QZ44356     Arizona  ...  Four-Door Car        1131.464935
2  AI49188      Nevada  ...   Two-Door Car         566.472247
3  WW63253  California  ...            SUV         529.881344
4  GA49547  Washington  ...  Four-Door Car          17.269323

[5 rows x 11 columns]

In [48]:
data = pd.concat([file1,file2,file3],axis=0)

In [49]:
data.shape

(12074, 11)

In [50]:
data.head()

  Customer       State  ...  Vehicle Class Total Claim Amount
0  RB50392  Washington  ...  Four-Door Car           2.704934
1  QZ44356     Arizona  ...  Four-Door Car        1131.464935
2  AI49188      Nevada  ...   Two-Door Car         566.472247
3  WW63253  California  ...            SUV         529.881344
4  GA49547  Washington  ...  Four-Door Car          17.269323

[5 rows x 11 columns]

In [51]:
data[['Customer','State','Gender','Education','Policy Type','Vehicle Class','Customer Lifetime Value','Income','Monthly Premium Auto','Number of Open Complaints','Total Claim Amount']]

     Customer       State  ... Number of Open Complaints Total Claim Amount
0     RB50392  Washington  ...                    1/0/00           2.704934
1     QZ44356     Arizona  ...                    1/0/00        1131.464935
2     AI49188      Nevada  ...                    1/0/00         566.472247
3     WW63253  California  ...                    1/0/00         529.881344
4     GA49547  Washington  ...                    1/0/00          17.269323
...       ...         ...  ...                       ...                ...
7065  LA72316  California  ...                         0         198.234764
7066  PK87824  California  ...                         0         379.200000
7067  TD14365  California  ...                         3         790.784983
7068  UP19263  California  ...                         0         691.200000
7069  Y167826  California  ...                         0         369.600000

[12074 rows x 11 columns]

In [52]:
columns_name = data.columns

In [53]:
data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [54]:
data._get_numeric_data()

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]

Understand the meaning of all columns:
Customer: customer id                     
State: state where the customer is from                       
Gender: gender of the customer                        
Education: education level                     
Customer Lifetime Value: net profit contributed by the customer during its time as a customer    
Income: self explanatory 

Monthly Premium Auto:   self-explanatory    
Number of Open Complaints     
Policy Type: policy purchased self-explanatory                  
Vehicle Class: self-explanatory              
Total Claim Amount: times a customer has claimed sth

In [55]:
columns_drop = ['Education','Number of Open Complaints']
data = data.drop(columns_drop, axis=1)

In [56]:
data.head()

  Customer       State  ...  Vehicle Class Total Claim Amount
0  RB50392  Washington  ...  Four-Door Car           2.704934
1  QZ44356     Arizona  ...  Four-Door Car        1131.464935
2  AI49188      Nevada  ...   Two-Door Car         566.472247
3  WW63253  California  ...            SUV         529.881344
4  GA49547  Washington  ...  Four-Door Car          17.269323

[5 rows x 9 columns]

In [57]:
data

     Customer       State  ...  Vehicle Class Total Claim Amount
0     RB50392  Washington  ...  Four-Door Car           2.704934
1     QZ44356     Arizona  ...  Four-Door Car        1131.464935
2     AI49188      Nevada  ...   Two-Door Car         566.472247
3     WW63253  California  ...            SUV         529.881344
4     GA49547  Washington  ...  Four-Door Car          17.269323
...       ...         ...  ...            ...                ...
7065  LA72316  California  ...  Four-Door Car         198.234764
7066  PK87824  California  ...  Four-Door Car         379.200000
7067  TD14365  California  ...  Four-Door Car         790.784983
7068  UP19263  California  ...  Four-Door Car         691.200000
7069  Y167826  California  ...   Two-Door Car         369.600000

[12074 rows x 9 columns]

In [59]:
#Correct the values CLV = multiply the % by 100 and change dtype to numerical type
def clean(x):
  if x in ['Customer Lifetime Value']=%
    return i * 100
  else
    return x
data['Customer Lifetime Value'] = list(map(clean, data['Customer Lifetime Value']))

SyntaxError: ignored

In [67]:
data.shape

(12074, 9)

In [68]:
data1 = data.copy()
data1 = data.drop_duplicates()

In [71]:
data1.shape

(9135, 9)

In [72]:
data = data1

In [73]:
data.shape

(9135, 9)

In [74]:
data[data['Income']<=0]

     Customer       State  ...  Vehicle Class Total Claim Amount
0     RB50392  Washington  ...  Four-Door Car           2.704934
1     QZ44356     Arizona  ...  Four-Door Car        1131.464935
3     WW63253  California  ...            SUV         529.881344
7     CF85061     Arizona  ...  Four-Door Car         363.029680
10    SX51350  California  ...  Four-Door Car         482.400000
...       ...         ...  ...            ...                ...
7059  WZ45103  California  ...  Four-Door Car         364.800000
7061  RX91025  California  ...            SUV        1950.725547
7062  AC13887  California  ...   Two-Door Car         482.400000
7067  TD14365  California  ...  Four-Door Car         790.784983
7069  Y167826  California  ...   Two-Door Car         369.600000

[2294 rows x 9 columns]